@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white:hsl(0, 0%, 98%);
    --grey:hsl(0, 0%, 41%);
    --black:hsl(0, 0%, 8%);
    --fs-md:18px;
    --fw-700:700;
    --fw-500:500;
    --font-fm:'Epilogue', sans-serif;
    --fs-nm:16px;
}
body{
    font-family: var(--font-fm);
    background-color: var(--white);
  
   
}
button{
    cursor: pointer;
    border: none;
    border-radius: 12px;
    color: var(--grey);
    font-size: var(--fs-nm);
    font-family: var(--font-fm);
}
button:hover{
    color: var(--black);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    cursor: pointer;
}
header{
    max-height: 90px;
    color: var(--grey);
    padding: 1.6em 2em;
}
nav{
    display: flex;
    gap: 3em;
    align-items: center;
}
.nav--left{
    display: flex;
    align-items: center;
}
 .nav--list{
    display: flex;
    gap: 2.5em;
    align-items: center;
}
.company--logo{
    margin-top: 0.4em;
}
.nav--right{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav--btn{
    display: flex;
    gap: 1.8em;
}
.login--btn{
    background-color: transparent;
}
.register--btn{
    background-color: transparent;
    border: 1px solid var(--black);
    padding: 0.66em 1.4em;
}
.hamburger{
    display: none;
}
 .close{
     display: none;
 }
@media screen and (max-width:850px){
    nav{
        justify-content: space-between;
    }
    .nav--right{
        transform: translateX(100vw);
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3em;
        background-color: var(--white);
        position: absolute;
        top: 0px;
        right: 0px;
        padding-top: 1em;
        height: 100vh;
        z-index: 9999;
        width: 0%;
        transition: 500ms;
        opacity: 0;
        overflow: hidden;
    }
    .nav--right-show{
        transition: 500ms;
        transform: translateX(0vw);
        width: 60%;
        opacity: 1;
    }
    .close {
        align-items: flex-end;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        padding:1em 1em 0em 1em;
        cursor: pointer;
      }
    .nav--backdrop{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        transition: 350ms;
        pointer-events: none;
    }
    .nav--list{
        flex-direction: column;   
        align-items: flex-start;
        padding-left: 1.8em;
    }
    .nav--btn{
        flex-direction: column;   
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .register--btn{
        padding: 0.8em 2.4em;
    }
}

.main--section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
    margin: 2em 8em 2em 7em;
}
.left--section{
    
    width: 50%;
}
.left--section h1{
    font-weight: var(--fw-700);
    font-size: 74px;
}
.left--section p{
    color: var(--grey);
    margin: 2em 0em;
    font-size: var(--fs-md);
    padding-right:  8.5em;
    line-height: 1.6;
}

.right--section{
  height: 75vh;
}
.right--section img{
    
    height: 100%;
}
.mobile-img{
    display: none;
}

.learn--btn{
    background-color: var(--black);
    padding: 1em 2em;
    color: var(--white);
    font-weight: var(--fw-700);
}
.learn--btn:hover{
    background-color: var(--white);
    border: 1px solid var(--black);
}
.botton-left-content{
    display: flex;
    gap: 2em;
    align-items: center;
   margin-top: 7.4em;
}
.feature-dropdown, .contact-dropdown{
    position: relative;
}

.sub-drop-features::before, .sub-drop-contact::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: transparent;
    top: -20px;
    left: 0;

}
.sub-drop-features, .sub-drop-contact{
    position: absolute;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--white);
    box-shadow: 2px 2px 12px var(--grey);
    opacity: 0;
    pointer-events: none;
}
.sub-drop-features{
    width: calc(100% + 80px);
    text-align: center;
    bottom: -164px;
    left: -78px;
}
.sub-drop-contact{
    width: calc(100% + 35px);
    bottom: -130px;

}
.arrow-down{
    transition: 500ms;
}

.show-features .sub-drop-features, 
.show-contact .sub-drop-contact{
    opacity: 1;
    pointer-events: visible;
}
.rotate-icon .arrow-down,.rotate-icon .arrow-down{
    transform: rotate(-180deg);
}
.list-item{
    display: flex;
    gap: 0.6em;
    align-items: center;
}
.list-item:hover{
    color: var(--black);
}
.sub-drop-list{
    display: flex;
    gap: 1em;
    align-items: center;
}
@media screen and (max-width:850px){
    body{
        text-align: center;
        overflow: hidden;
    }
    .main--section{
        flex-direction: column-reverse;
        margin: 0em;
        gap: 1.8em;
    }
    .mobile-img{
        display: block;
    }
    .desktop-img{
        display: none;
    }
    .left--section, .right--section, .right--section img{
        width: 100%;
    }
    .left--section{
        padding: 0.8em;
    }
    .left--section h1{
        font-size: 36px;
    }
    .left--section p{
        padding: 0em;
        font-size: 16px;
        margin: 1em 0em;
    }
    .right--section{
        height: 35vh;
    }
    .learn--btn{
        padding: 1em 1.4em;
        border-radius: 16px;
        font-size: 16px;
    }
    .botton-left-content{
        margin-top: 2.8em;
    }
    .bottom-left-cont-img{
        width: 25%;
    }
    .bottom-left-cont-img img{
        width: 100%;
    }
    .features-list, .contact-list{
        flex-direction: column;
        gap: 1em;
    }
    .sub-drop-features, .sub-drop-contact{
        background-color: transparent;
        position: static;
        box-shadow: none;
        justify-content: center;
        opacity: 0;
        width: 0;
        height: 0;
        padding: 0;
        transition: none;
    }
    .list-item{
        align-items: flex-start;
    }
    .show-features .sub-drop-features,.show-contact .sub-drop-contact{
        width: max-content;
        height: auto;
        padding: 1em;
        pointer-events: visible;
        transition: 350ms;
    }
/* .show .sub-drop-features, .show .sub-drop-features{
    opacity: 1;
    pointer-events: visible;
} */
}

